#msg-box3-53 P {
	text-align: center !important;
	font-size: 14px !important;
}
#content5-3 P {
	text-align: center !important;
}
#content5-3 H3 {
	font-size: 24px !important;
}
#content4-6 P {
	font-size: 14px !important;
}
#content4-6 H3 {
	font-size: 18px !important;
}
#msg-box2-10 H2 {
	font-size: 16px !important;
}
#msg-box2-12 H2 {
	font-size: 16px !important;
}
#msg-box2-11 H2 {
	font-size: 16px !important;
}
#msg-box2-24 H2 {
	font-size: 15px !important;
}
#header2-17 P {
	font-size: 14px !important;
}
#footer1-20 P {
	font-size: 10px !important;
}
#msg-box2-24 H2 {
	text-align: center !important;
}
#msg-box1-25 H2 {
	font-size: 13px !important;
}
#msg-box4-27 H2 {
	font-size: 14px !important;
}
#msg-box1-31 H2 {
	font-size: 19px !important;
}
#content5-33 P {
	text-align: center !important;
}
#msg-box2-36 H2 {
	font-size: 15px !important;
}
#msg-box2-48 H2 {
	font-size: 15px !important;
}
#msg-box4-61 H2 {
	font-size: 14px !important;
}
#msg-box4-99 H2 {
	font-size: 17px !important;
}
#msg-box4-100 H2 {
	font-size: 17px !important;
}
#msg-box1-101 H2 {
	font-size: 15px !important;
}
#social-buttons1-102 H2 {
	font-size: 17px !important;
}
#msg-box1-62 H2 {
	font-size: 13px !important;
}
#msg-box4-64 H2 {
	font-size: 14px !important;
}
#msg-box1-66 H2 {
	font-size: 13px !important;
}
#msg-box4-68 H2 {
	font-size: 14px !important;
}
#msg-box1-70 H2 {
	font-size: 19px !important;
}
#content5-71 P {
	text-align: center !important;
}
#msg-box1-73 H2 {
	font-size: 19px !important;
}
#content5-74 P {
	text-align: center !important;
}
#msg-box2-75 H2 {
	font-size: 23px !important;
}
#msg-box4-112 H2 {
	font-size: 14px !important;
}
#msg-box4-115 H2 {
	font-size: 14px !important;
}
#msg-box4-118 H2 {
	font-size: 17px !important;
}
#msg-box4-119 H2 {
	font-size: 17px !important;
}
#msg-box1-120 H2 {
	font-size: 15px !important;
}
#social-buttons1-121 H2 {
	font-size: 17px !important;
}
#msg-box4-123 H2 {
	font-size: 17px !important;
}
#msg-box4-124 H2 {
	font-size: 17px !important;
}
#msg-box1-125 H2 {
	font-size: 15px !important;
}
#social-buttons1-126 H2 {
	font-size: 17px !important;
}
